$v-focus-style: none;

@mixin add_department_screen_style {

	#institution_list {
		height: auto;
	}

	.v-button-add_department {
		height: 50px;
		border: none;
        -webkit-box-shadow: none;
        box-shadow: none;
		background: #0097DE;
		margin-top: 20px;
		.v-button-caption {
			font-size: 16px;
    		font-weight: medium;
    		color: #FFFFFF;
		}
	}
}