@mixin admin_main_page_style {

	#admin_root {
		width: 100%;
		height: 100%;
		background: #0097DE;
	}

	#admin_header {
		height: 10%;
	}

	#add_study {
		width: 100%;
		overflow-y: hidden;
		padding-top: 10%;
	}

	#add_enrolle {
		padding-left: 50px;
		padding-top: 50px;
	}

	#list_layout {
		width: 100%;
		overflow-y: hidden;
		padding-top: 50px;
	}

	.list {
		float: left;
		padding-left: 50px;
	}

	.v-button-add {
		border: none;
        -webkit-box-shadow: none;
        box-shadow: none;
		background: #0097DE;
		.v-button-caption {
			font-size: 12px;
    		font-weight: medium;
    		color: #FFFFFF;
		}
	}

	.v-image-caption {
		font-size: 12px;
		font-weight: medium;
		color: #FFFFFF;
	}

	.v-profile_divider {
		background: white;
	}


	.v-button-to_ {
		border: none;
        -webkit-box-shadow: none;
        box-shadow: none;
		background: #0097DE;
		.v-button-caption {
			font-size: 12px;
    		font-weight: medium;
    		color: #FFFFFF;
		}
	}

	.v-button-sign_out_popup {
		border: none;
        -webkit-box-shadow: none;
        box-shadow: none;
		background: #EB5757;
		.v-button-caption {
			font-size: 12px;
    		font-weight: medium;
    		color: #FFFFFF;
		}
	}

}