$v-focus-style: none;

@mixin header_search_view_style {
	
	#header_search_view_root {
		width: 400px;
		height: 40px;
		background-color: #0097DE;
		border-radius: 25px;
    	border: 1px solid #0097DE;
    	padding-top: 1px;
    	overflow-y: hidden;
	}

	#search_field {
		height: 38px;
		width: 280px;
		padding-left: 30px;
		background-color: #094F71;
		float: left;
		border-radius: 24px 0px 0px 24px;
	}

	#search_icon {
		height: 38px;
		width: 70px;
		background-color: #0097DE;
		border-radius: 0px 24px 24px 0px;
		padding-top: 10px;
		padding-bottom: 10px;
		float: left;
	}

	.v-image-background {
		background-color: #0097DE;
	}

	.v-textfield-header_search::-webkit-input-placeholder {
		color: #FFFFFF;
	}

	.v-textfield-header_search:focus {
		color: #FFFFFF;
		outline: none;
		box-shadow: none;
		border-radius: 25px;
		border: none;	
	}

	.v-textfield-header_search {
		height: 38px;
		width: 280px;
		background-color: #094F71;
		color: #FFFFFF;
		-webkit-border-image: none;
		-webkit-border-radius: 0px;
		-webkit-margin-before: 0em;
    	-webkit-margin-after: 0em;
    	-webkit-margin-start: 0px;
    	-webkit-margin-end: 0px;
    	-webkit-box-shadow: none;
    	border: none;
	}

}