@import "authorization_screen_style.scss";
@import "registration_screen_style.scss";
@import "enrolle_profile_screen_style.scss";
@import "admin_main_page_style.scss";
@import "add_institution_screen_style.scss";
@import "add_department_screen_style.scss";
@import "list_screen_style.scss";
@import "header_search_view_style.scss";

@mixin projecttheme {
	@include authorization_screen_style;
	@include registration_screen_style;
	@include enrolle_profile_screen_style;
	@include admin_main_page_style;
	@include add_institution_screen_style;
	@include add_department_screen_style;
	@include list_screen_style;
	@include header_search_view_style;

	.v-label-image_button {
		white-space: pre-wrap;
    	word-wrap: break-word;
		font-size: 14px;
		color: #FFFFFF;
	}

	.v-button-image_button {
		border: none;
        -webkit-box-shadow: none;
        box-shadow: none;
		background: #0097DE;
		.v-button-caption {
			font-size: 12px;
    		font-weight: medium;
    		color: #FFFFFF;
		}
	}

	.v-label-list_select {
		color: #828282;
	}

	.v-label-heder_penzgtu {
		font-size: 26px;
    	font-weight: medium;
    	color: #FFFFFF;
	}

	.header_main {
		width: 100%;
		height: 10%;
		background: #094F71;
		padding-left: 50px;
		padding-right: 50px;
	}		

}