$v-focus-style: none;

@mixin registration_screen_style {

	.v-registerblock {
		background-color: white;
		border-right: 1px solid #7A7A7A;
		border-bottom: 2px solid #7A7A7A;
	}

	.v-headerlabel {
		color: #828282;
		font-size: 24px;
		font-weight: medium;
	}

	.v-button_registration {
		height: 50px;
		border: none;
        -webkit-box-shadow: none;
        box-shadow: none;
		background: #0097DE;
	}

	.v-textfield-register::-webkit-input-placeholder {
		color: #828282;
	}

	.v-textfield-register:focus {
		color: #828282;
		outline: none;
		border: none;
		box-shadow: none;
		border-color: #000000;
		border-top: 0px solid white;
    	border-bottom: 1px solid #000000;
    	border-left: 0px solid white;
    	border-right: 0px solid white;	
	}

	.v-textfield-register {
		background-color: white;
		color: #828282;
		-webkit-border-image: none;
		-webkit-border-radius: 0px;
		-webkit-margin-before: 0em;
    	-webkit-margin-after: 0em;
    	-webkit-margin-start: 0px;
    	-webkit-margin-end: 0px;
    	-webkit-box-shadow: none;
    	border-top: 0px solid white;
    	border-bottom: 1px solid #000000;
    	border-left: 0px solid white;
    	border-right: 0px solid white;
	}

	#root_layout {
		height: 100%;
		width: 100%;
	  	position:relative;
    	background-color: #0097DE;
	}	

	#input_layout{
    	position: absolute;
	    top: 50%;
	    left: 50%;
    	margin-top: -20%;
    	margin-left: -12%;
    	width: 400px;
    	height: 600px;
    	background-color: white;
	}

	#divider {
		height: 2px;
		width: 100%;
		background-color: #828282;
	}

	#header_registration {
		height: 10%;
	}

	#header_label {
		height: 50px;
		padding-left: 36px;
		padding-top: 5px;
	}

	.input {
		height: 80px;
		width: 300px;
		overflow-y: hidden;
		padding-left: 10px;
   		padding-top: 10px;
	}

	.icon {
		height: 40px;
		width: 15%;
		float: left;
		padding-top: 10px;
	}

	.field {
		height: 40px;
		width: 85%;
		float: left;
	}

	#register_button {
		height: 50px;
		margin-left: -30px;
	}

	/*ul {*/
    	/*padding: 0;*/
    	/*list-style-type: none;*/
	/*}*/



}