<div id="root_layout">
    <div id="input_layout_institution">
        <ul>
            <li>
                <div id="header" location="header">

                </div>
            </li>
            <li> <div id="divider" location="divider"/></li>
            <li>
                <div id="short_name" class="input">
                    <div class="field" location="short_name_field">
                    </div>
                </div>
            </li>
            <li>
                <div id="full_name" class="input">
                    <div class="field" location="full_name_field">
                    </div>
                </div>
            </li>
            <li>
                <div id="institution_list" location="institution_field">
                </div>
            </li>
            <!--<li>-->
                <!--<div id="street" class="input">-->
                    <!--<div class="field" location="street_field">-->

                    <!--</div>-->
                <!--</div>-->
            <!--</li>-->
            <!--<li>-->
                <!--<div id="house" class="input">-->
                    <!--<div class="field" location="house_field">-->

                    <!--</div>-->
                <!--</div>-->
            <!--</li>-->
            <li>
                <div id="add_button" align="center" location="add_button">
                </div>
            </li>
        </ul>
    </div>
</div>