<div id="admin_root">
    <div id="admin_header" location="admin_header">

    </div>
    <div id="add_study">
        <div location="add_university" class="list">

        </div>
        <div location="add_department" class="list">

        </div>
        <div location="add_pulpit" class="list">

        </div>
        <div location="add_speciality" class="list">

        </div>
    </div>
    <div id="add_enrolle" location="add_enrolle">

    </div>
    <div id="list_layout">
        <div location="enrolle_list" class="list">

        </div>
        <div location="university_list" class="list">

        </div>
        <div location="department_list" class="list">

        </div>
        <div location="pulpit_list" class="list">

        </div>
        <div location="speciality_list" class="list">

        </div>
    </div>
</div>