<div id="root_layout">
    <div id="content_description_layout">
        <div id="description_layout">
            <div id="text_layout" align="left">
                <ul>
                    <li> <div location="welcome"/></li>
                    <li> <div location="introduce"/></li>
                    <li> <div location="observe"/></li>
                    <li> <div location="control"/></li>
                    <li> <div location="registration_button"/></li>
                </ul>
            </div>
        </div>
    </div>
    <div id="content_sign_in_layout">
            <div id="auth_layout">
                <div id="items_layout" align="left">
                    <ul>
                        <li> <div location="sign_in"/></li>
                        <li> <div location="login"/></li>
                        <li> <div location="password"/></li>
                        <li> <div location="auth_button"/></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>