<div id="root">
    <div id="profile_header_layout" location="profile_header_layout">

    </div>
    <div id="profile_content_layout">
        <div align="center" id="avatar_layout">
            <ul id="list1">
                <li>
                    <div location="avatar_image"/>
                </li>
                <li>
                    <div location="download_button"/>
                </li>
                <li>
                    <div location="delete_button"/>
                </li>
            </ul>
        </div>
        <div class="divider_vertical">
        </div>
        <div align="center" id="personal_data_layout">
            <ul id="list2">
                <li>
                    <div id="personal_data_title" location="personal_data_title">
                    </div>
                </li>
                <li>
                    <div class="divider_horizontal">
                    </div>
                </li>
                <li>
                    <div id="initials" align="center" location="initials">
                    </div>
                </li>
                <li>
                    <div class="divider_horizontal">
                    </div>
                </li>
                <li>
                    <div id="date_birth" align="center" location="date_birth">
                    </div>
                </li>
                <li>
                    <div class="divider_horizontal">
                    </div>
                </li>
                <li>
                    <div id="documents" location="documents">
                    </div>
                </li>
                <li>
                    <div class="divider_horizontal">
                    </div>
                </li>
                <li>
                    <div id="address" location="address">
                    </div>
                </li>
            </ul>
        </div>
        <div class="divider_vertical">
        </div>
        <div align="center" id="study_data_layout">
            <ul id="list3">
                <li>
                    <div id="study_data_title" location="study_data_title">
                    </div>
                </li>
                <li>
                    <div class="divider_horizontal">
                    </div>
                </li>
                <li>
                    <div id="study_data" location="study_data">
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>