<div id="root_layout">
    <div id="input_layout">
        <ul>
            <li>
                <div id="header" location="header">

                </div>
            </li>
            <li> <div id="divider" location="divider"/></li>
            <li>
                <div id="login" class="input">
                    <div class="icon" location="login_icon">
                    </div>
                    <div class="field" location="login_field">
                    </div>
                </div>
            </li>
            <li>
                <div id="email" class="input">
                    <div class="icon" location="email_icon">
                    </div>
                    <div class="field" location="email_field">
                    </div>
                </div>
            </li>
            <li>
                <div id="password" class="input">
                    <div class="icon" location="password_icon">

                    </div>
                    <div class="field" location="password_field">

                    </div>
                </div>
            </li>
            <li>
                <div id="retype_password" class="input">
                    <div class="icon" location="retype_icon">

                    </div>
                    <div class="field" location="retype_field">

                    </div>
                </div>
            </li>
            <li>
                <div id="register_button" align="center" location="register_button">
                </div>
            </li>
        </ul>
    </div>
</div>